images/card_templates/legend.png
images/characters/aaaabb.png
images/characters/aacabb.png
images/characters/askwoo.png
images/characters/baaabb.png
images/characters/sjdfha.png
images/dimensions/alphar.png
images/dimensions/dayongeel.png
images/dimensions/skelos.png
